ul {list-style:none; padding:0; margin:0;}
input{border:1px solid #ccc;color:#ccc;font-size:11px;padding:3px;margin:1px;width:160px}
body{background:url(../images/main_bg.gif) repeat-x;height:100%;width:100%;}
#login {position:relative;margin:200px auto;width:594px;height:363px; background:url(../images/main_bgBox.gif) no-repeat ;}
#login .loginBox{position:absolute;top:200px; left:280px;margin-right:10px;width:250px; }
#login .loginBox img{position:absolute;top:0px; right:0px;}
#login_btn{cursor:pointer;}